# Sphinx docs
sphinx
sphinx-rtd-theme
sphinx-sql
sphinx-autodoc-typehints
sphinxcontrib-jquery
myst-parser
sphinx-copybutton
sphinx-multiversion

# Linters
pylint
pydocstyle[toml]
black[jupyter]
sqlfluff

# Dependency tree
pipdeptree

# git hooks
pre-commit==3.4.0